
body{
    height: 400vh;
}
header{
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #383333;
    font-family: 'Open Sans', sans-serif;
}
.mobile-nav{
    display: none;
}
.nav1{
    display: flex;
    flex-direction: row;
    height: 80px;
    align-items: center;   
    border-bottom: solid .7px #383333;
}
.nav2{  
    display: flex;
    flex-direction: row;
    height: 60px;    
    justify-content: center;
    align-items: center;
}
.logo{
    margin: 0 20px 0 10px;
}
.list{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    text-transform: uppercase;
    
}
.list1 li{
    margin: 0 15px 0 0

}
.search-container {
    display: flex;
    align-items: center;;
height: 100%;
margin: 0 0 0 10px;
}
.search{
    width: 250px;
    height: 30px;
}
.promo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #5c5c5c;
    color: white;
    height: 100%;
    width: 220px;
    margin: 0 25px;
}
.bold{
    font-weight: bold;
}
.login{
    margin: 0 5% 0 10%;
}
i{
    padding: 0 10px 0 10px;
    font-size: 26px;
    color: #5c5c5c;
}
i:hover{
    cursor: pointer;
    color: #0a689d;
}
.list2{
    display: flex;
      justify-content: space-around;
      align-items: center;
    width: 100%;
    height: 100%;
    margin: auto auto;

}
.list2 li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.list2 li:hover{
    cursor: pointer;
    color: #0a689d;
    border-bottom: solid 3px #0a689d;
    /* background: blue; */
}
.splash-img-container{
    width: 100vw;
    height: 70vh;
    background: url("https://images.unsplash.com/photo-1482957701449-f792f1f41506?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5d41c60457aae0a4378d52ab2bb29cdd&auto=format&fit=crop&w=2762&q=80");
        background-repeat: no-repeat;
    background-size: cover;
      background-position: center bottom; 
      display: flex;
      align-items: center;
    /* padding: 100px 0 0 0; */

}
.click-me{
    height: 241px;
    width: 338px;
    background: rgb(255, 255, 255, .9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0a689d;
    margin: 0 0 0 5%;
}
.click-me h1{
    text-align: center;
    font-size: 2.5em;
    margin: 0 0 15px 0
}
.btn{
 text-transform: uppercase;
 background: transparent;
 border: solid 1px #0a689d;
 color: #0a689d;
 width: 140px;
 height: 40px;
}
.btn:hover{
cursor: pointer;
color: white;
background: #0a689d;
}
.section1{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fafafa; 
    width: 100vw;
    height: 80vh;
}
.section1 h1, button, h3{
    margin: 20px 0 0 24px;
    font-family: 'Open Sans', sans-serif;    
}
.section1 h1{
    font-size: 24px;
    font-weight: bold;
}
.section1 h3{
    font-weight: 200;
}
.section1 button{
    color: #0a689d;
    font-weight: 700;
    
}
.section1 h2:hover{
    cursor: pointer;
   
}
.pic1-container, .pic2-container{
    background: white;
    width: 45%;
    height: 85%;
    margin: 0 30px;
}
.pic{
    
}
.pic1{
    width: 100%;
    height: 75%;
    background: url("https://images.unsplash.com/photo-1512918728675-ed5a9ecdebfd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3aa05c543a26ea5b8980f1da95ff786b&auto=format&fit=crop&w=1950&q=80");
            background-repeat: no-repeat;
    background-size: cover;
}
.pic2{
    width: 100%;
    height: 75%;
    background: url("https://images.unsplash.com/photo-1518860308377-800f02d5498a?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5bf59e82ad62203b75929b25bba3f013&auto=format&fit=crop&w=1400&q=80");
            background-repeat: no-repeat;
    background-size: cover;
      background-position: center;
}
.section2{
    width: 100vw;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  background: url("https://images.unsplash.com/photo-1521798903226-9c2e199e3c74?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0e256e7f88dbed75c38ae0c96d4e74f5&auto=format&fit=crop&w=1482&q=80");
            background-repeat: no-repeat;
    background-size: cover;
      background-position: center center;
    margin: 20px 0 0 0;
    text-align: center;
}
.section2 h1{
    color: #0a689d;
    font-size: 6em;
    letter-spacing: 7px;
    font-weight: 200;
}
.section2 h2{
    color: #0a689d;
    font-size: 2em;
    /* letter-spacing: 7px; */
    font-weight: 200;
}
@media only screen and (max-width: 600px) {
  .nav2, .nav1{
      display: none;
  }
  .mobile-nav{
    position: fixed;
    background: white;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 60px;
    align-items: center;   
    border-bottom: solid .7px #383333;
}
.splash-img-container{
    width: 100vw;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1482957701449-f792f1f41506?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5d41c60457aae0a4378d52ab2bb29cdd&auto=format&fit=crop&w=2762&q=80");
        background-repeat: no-repeat;
    background-size: cover;
      background-position: center; 
      display: flex;
      align-items: center;
      margin-bottom: 60px;
    /* padding: 100px 0 0 0; */

}
.click-me{
    height: 171px;
    width: 268px;
    background: rgb(255, 255, 255, .9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0a689d;
    margin: 0 auto;
}
.click-me h1{
    font-size: 2em;
    margin: 0 0 15px 0
}
.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background: #fafafa;
      */
    background: blue;      
    width: 100vw;
    height: 80vh;
    margin: 30px 0 0 0;
}
.pic1-container, .pic2-container{
    background: white;
    width: 100%;
    height: 65%;
    margin: 0 30px 0 30px;
}
.section1 h1, h3{
    margin: 10px 0 0 0;
    text-align: center;
    font-family: 'Open Sans', sans-serif;    
}
.section1 button{
    margin: 15px 0 0 125px ;
}
.pic1, .pic2{
    height: 55%;
}
.section2{
    width: 100vw;
    height: 150px;
    margin: 20px 0 0 0;
}
}
